<h1>Enter a word and sentence</h1>
  <form action='/display'>
    <div class="form-group">
      <label for="word">Word</label>
      <input id="word" name="word" class="form-control" type="text">
    </div>
    <div class="form-group">
      <label for="sentence">Sentence</label>
      <input id="sentence" name="sentence" class="form-control" type="text">
    </div>
    <button type="submit" class="btn">Go!</button>
  </form>

  <%= @result%>
